html {
    height: 100%;
}

body {
    background: url("../assets/dam.webp") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
    min-width: 350px;
    display:flex; 
    flex-direction:column;
}

h1 {
    padding: 0;
    margin-top: 0;
}

#app {
    width: 100%;
    height: 100%;
}

footer {
    text-align: center;
    margin-top: auto; 
}

.header {
    background-color: rgb(41, 11, 126);
    width: 100%;

    p {
        color: white;
        font-size: 2em;
        margin: 0;
        text-align: center;
        font-weight: bold;
        padding: 1.5%;
    }

}

.footer {
    background-color: rgb(41, 11, 126);
    width: 100%;
    margin-top: auto;

    p {
        color: white;
        font-size: 2em;
        margin: 0;
        text-align: center;
        font-weight: bold;
        padding: 3%;
    }

}

@media screen and (max-width:789px) {

    .header p {
        font-size: 1.3em; 
        padding: 3%;
    }

    .footer p {
        font-size: 1.3em; 
        padding: 5%;
    }

    footer button {
        width: 14%;
        font-size: 8pt;
    }

}