@import 'global';

.buttons {
    text-align: center;
    color: $dark-blue;

    button:hover {
        background-color: $greenish-blue;
    }

    button {
        background-color: rgb(189, 178, 27);
    }

    .close {
        background-color: red;
    }

    .fullopen {
        background-color: green;
    }
}