@import 'global';

button {
    border-radius: 5px;
    border: 0px;
    color: white;
    background-color: $dark-blue;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

select {
    border-radius: 5px;
    border: 0px;
    color: white;
    width: 15%;
    background-color: $greenish-blue;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

#waterlevel_no_new_data,
#weather_no_new_data {
    color: red;
}

.row {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;

    p {
        padding: 10px;
        width: auto;
    }
}

@media screen and (max-width:789px) {

    .row {
        display: inline-block;

        p {
            font-size: small;
        }
    }

    .datas {
        display: flex;
    }

    select {
        width: 30%;
    }

    #weatherSelect {
        width: 50%;
    }

}