$maincolor: #3B3B98;
$textcolor: #fff;
$font-family: Nunito Sans;

body {
    font-family: $font-family;
    background-color: $maincolor;
    margin: 0;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    overflow-y: auto;
    font-family: sans-serif;

    #routers {
        flex-direction: row;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: inline-block;
        margin-bottom: 2%;

        .router-link-active {
            text-align: center;
            width: 15vw;
            font-size: 22px;
            text-decoration: none;
            color: black;
            display: inline-block;
            margin-left: 2%;
            margin-right: 2%;
        }

    }

    #routerbuttons {

        flex-direction: row;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        margin-bottom: 4%;

        router-link-active {
            text-align: center;
            width: 15vw;
            font-size: 22px;
            text-decoration: none;
            color: black;
            display: inline-block;
            margin-left: 2%;
            margin-right: 2%;
        }

        .buttonimage {
            height: 30%;
            width: 30%;
        }

        button {
            background-color: white;
        }
    }

    #homecontent {
        width: 90%;
        box-shadow: 1px 0 10px 15px rgba(0, 0, 0, .3);
        padding: 40px;
        background-color: #fff;
        border-radius: 10px;

        h1 {
            p {
                align-items: center;
            }
        }
    }
}

table, td, th {
    border: 1px solid #ddd;
    text-align: center;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

th, td {
    padding: 15px;
    font-size: 1.5vw;
}

td {
    font-weight: normal;
}

h2 {
    text-align: center;
}

h1>p {
    font-size: 1.5vw;
    font-weight: normal;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 3%;
}

@media screen and (max-width:1080px) {

}

@media screen and (max-width:789px) {

    h1>p, th, td {
        font-size: 2vw;
    }

    #hometitle {
        font-size: 4vw;
    }

    #routerbuttons {
        // button {
        //     width: 30%;
        //     height: 30%;
        // }
        
        // #controllerlink {
        //     width: 30%;
        //     height: 30%;
        // }
    }
}

@media screen and (min-width:790px) {
    
}