@import 'global';

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    overflow-y: auto;

    #routers {
        flex-direction: row;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: inline-block;
        margin-bottom: 2%;

        .router-link-active {
            text-align: center;
            width: 15vw;
            font-size: 22px;
            text-decoration: none;
            color: black;
            display: inline-block;
            margin-left: 2%;
            margin-right: 2%;
        }

        .selectedItem {
            font-size: 25px;
            font-weight: bold;
            color: $dark-blue;
        }
    }

    #routerbuttons {
        flex-direction: row;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        margin-bottom: 4%;

        .router-link-active {
            width: 15vw;
            display: inline-block;
            margin-left: 2%;
            margin-right: 2%;
        }

        .buttonimage {
            height: 30%;
            width: 30%;
        }

        button {
            background-color: white;
        }
    }

    #homecontent {
        width: 90%;
        padding: 40px;
        background-color: #fff;
        border-radius: 10px;

        h1 {
            p {
                align-items: center;
            }
        }
    }
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 2em;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

th,
td {
    padding: 15px;
    font-size: 1.5vw;
}

td {
    font-weight: normal;
}

h2 {
    text-align: center;
}

h1>p {
    font-size: 1.5vw;
    font-weight: normal;
    text-align: center;
    margin-bottom: 3%;
}

@media screen and (max-width:1080px) and (min-width:790px) {}

@media screen and (max-width:789px) {

    table {
        min-width: unset;
    }

    h1>p,
    th,
    td {
        font-size: 2vw;
    }

    th,
    td {
        padding: 10px;
    }

    #hometitle {
        font-size: 4vw;
    }

    .selectedItem {
        img {
            filter: drop-shadow(8px 5px 4px #333338);
        }
    }
}